.tags-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* flex-direction: row; */
  /* padding: 3rem; */
  justify-content: center;
}

.single-tag {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* height: 150px; */
  flex-wrap: wrap;
  border: 2px solid rgb(193, 193, 193);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.2rem;
}

.single-tag h5 {
  padding: 0.2rem 0.8rem;
  background-color: #e1ecf4;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  cursor: pointer;
  /* max-width: 20px; */
  margin-right: auto;
}

.single-tag p {
  font-size: 0.8;
  font-weight: 400;
}

.home-container-2 > .tags-h1 {
  margin: 1rem;
}

.home-container-2 > .tags-p {
  margin: 1rem;
}
